{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Guardar nuevo curso en la DB</h2>
                {% if mf.errors %}
                <p style="color: red;">Datos Inválidos</p>
                {% endif %}
                <form action="" method="POST">{% csrf_token %}
                    <table align="center">
                        <div>
                            {{ mf.as_table }}
                        </div>
                    </table>
                    <input type="submit" value="Guardar Curso">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}